{% extends "layout.html" %}

{% block body %}
    <main>
        <section class="about-section">
            <h1 class="section-heading">New Life City Church</h1>
            <p class="section-subtitle">A Place of Worship, Fellowship, and Growth</p>

            <div class="image-container">
                <img src="static/about.jpeg" alt="About Us Image" class="about-image">
                <div class="image-text">
                    ABOUT US
                </div>
            </div>
            

            <div class="about-content">
                <div class="about-group">
                    <h2>Our Vision</h2>
                    <p>
                        At New Life City Church, our vision is to be a beacon of hope and love in our community.
                        We strive to create an environment where people from all walks of life can find a home 
                        and experience the transforming power of Christ's love.New Life City Church is a dynamic 
                        and vibrant multi-ethnic church of God's people worshiping together in true fellowship 
                        with God and one another, committed to discipleship and various other ministries that 
                        enhance the coming of the Kingdom of God in the City of Tshwane, thereby becoming God's 
                        living instrument in reaching out the world for Christ.
                    </p>
                </div>
                <div class="about-group">
                    <h2>Our Mission</h2>
                    <p>
                        New Life City Church is a dynamic and vibrant multi-ethnic church that seeks to bring people
                        to Jesus and membership in God's family, develop them for their ministry in His Church life
                        mission in the world,in order to magnify God's name. We want to spread the gospel message and 
                        impact our city and. We are committed to serving others, building strong 
                        relationships, and sharing the love of Jesus Christ.
                    </p>
                </div>
                <div class="about-group">
                    <h2>Who we are</h2>
                    <p>
                        New Life City Church is a reformed multi-ethnic church in Sunnyside, Pretoria (South Africa), 
                        established as a church plant of the Reformed Church Brooklyn led by Dr. Brian DeVries, 
                        Benjamin Zulu and Malwande Mdonga in 2008. The church planting work continued under the leadership of 
                        Prof. Derrick Mashau and has since grown from strength to strangth. It was launched officially on the
                        09th of August 2014. New Life City Church is part of the reformed church family, and in particular 
                        the Reformed Churches in Southern Africa (RCSA/GKSA) denomination. NLCC is part of God's visible and 
                        invisible Church which He is assembling for Himself since creation. 
                    </p>
                </div>
                <div class="about-group">
                    <h2>Our Community</h2>
                    <p>
                        New Life City Church is a diverse and welcoming community of believers. We come together 
                        to worship God, build strong relationships, and grow in our faith. We invite you to join us 
                        on this journey of faith and discovery.
                    </p>
                </div>
                <div class="about-group">
                    <h2>More about us</h2>
                    <p>
                        New Life City Church is a reformed multi-ethnic church in Sunnyside,
                        Pretoria (South Africa), established as a church plant of the Reformed Church Brooklyn led by
                        Dr. Brian DeVries, Benjamin Zulu and Malwande Mdonga in 2008. The church planting work 
                        continued under the leadership of Prof. Derrick Mashau and has since grown from strength to 
                        strangth. It was launched officially on the 09th of August 2014. New Life City Church is part of the 
                        reformed church family, and in particular the Reformed Churches in Southern Africa (RCSA/GKSA) denomination.
                        NLCC is part of God's visible and invisible Church which He is assembling for Himself since creation. 
                    </p>
                    <p>
                        <ul>
                            <li>Sola Scriptura (Scripture Alone)</li>
                            <li>Sola Fide (Faith Alone)</li>
                            <li>Sola Christi (Christ Alone)</li>
                            <li>Sola Gratia (Grace Alone)</li>
                            <li>Soli Deo Gloria (For the Glory of God)</li>
                        </ul>
                    </p>
                </div>
            </div>
            <a href="/contact" class="cta-button">Contact Us</a>
        </section>
    </main>
{% endblock %}