{% extends "layout.html" %}

{% block body %}
<main>
    <section class="hero-section">
        <h1 class="section-heading">Upcoming Events</h1>
    </section>

    <section class="event">
        <div class="event-info">
            <h2>Revival week</h2>
            <p>Date: 30 JAN to 03 FEB 2023</p>
            <p>Time: 18: 30</p>
        </div>
        <div class="event-image">
            <img src="static/first.jpg" alt="first">
        </div>
    </section>

    <section class="event">
        <div class="event-info">
            <h2>Women empowered</h2>
            <p>Date: 03 MARCH 2023</p>
            <h4>RSVP</h4>
        </div>
        <div class="event-image">
            <img src="static/sec.jpg" alt="Event 2">
        </div>
    </section>

    <section class="event">
        <div class="event-info">
            <h2>10 YEAR ANNIVERSARY OF NLCC</h2>
            <p>Date: 12 AUG 2023</p>
            <p>Time: 15:00</p>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="event-image">
            <img src="static/third.jpg" alt="Event 2">
        </div>
    </section>

    <section class="event" class>
        <div class="event-info">
            <h2>HOMECOMING</h2>
            <p>Date: O7 OCT 2023</p>
            <p>Time: 18: 00</p>
        </div>
        <div class="event-image">
            <img src="static/last.jpg" alt="Event 2">
        </div>
    </section>

    <!-- Add more events as needed -->

</main>
{% endblock %}
