{% extends "layout.html" %}

{% block body %}
    <main>
        <section class="hero-section">
			<h1 class="section-heading">Welcome to New Life Vision Church</h1>
			<p class="section-subtitle">A home of all nationalities.</p>

            <a href="/about" class="cta-button">Learn More</a>
        </section>
        
			<section class="upcoming-events">
				<ul>
					<li class = "event-item">
						<img src="static/images.jpeg" alt="New Life City Church Image">
					</li>
				</ul>
			</section>

        
        <section class="about-us">
            <h2>About Us</h2>
            <p>New Life City Church is a dynamic and vibrant multi-ethnic church of God's people worshiping together in true fellowship with God and one another, committed to discipleship and various other ministries that enhance the coming of the Kingdom of God in the City of Tshwane, thereby becoming God's living instrument in reaching out the world for Christ.</p>
            <a href="/about" class="cta-button">Learn More</a>
        </section>
    </main>
{% endblock %}
