{% extends "layout.html" %}

{% block body %}
    <main>
        <section class="hero-section">
            <h1 class="section-heading">Sundays at New Life City Church</h1>
            <p class="section-subtitle">10h00 to 13h00: Worship Service</p>
        </section>

        <section class="service-info">
            <h2>Service Details</h2>
            <ul>
            <li>09h30 to 09h55: Consistory, Ministry Team</li>
            <li>09h30 to 10h00: Prayer and worship</li>
            </ul>
        </section>

        <section class="service-info">
            <h3>Wednesday Congregational Bible Study</h3>
            <ul>
                <li>18h30 to 20h00</li>
            </ul>
            <p>We use Wednesday service to reflect on the sermon presented the previous Sunday. This allows space for the congregants, in the spirit of shepherding, to deepen their knowledge of Scriptures and the application thereof.</p>
        </section>

        <section class="service-info">
            <h3>Friday Youth Service</h3>
            <ul>
                <li>18h30 – 20h00</li>
            </ul>
            <p>This service is designed to cater for all our youth who come together to praise, worship, and also drink from the well of the Word of God. Services vary from one Friday to another, i.e. Bible Study, Sermon, and Topical discussion.</p>
        </section>

        <section class="service-info">
            <h2>Prayer Meetings</h2>
            <p>Dedicated prayer and fasting days are organized from time to time.</p>
        </section>


        <section class="service-description">
            <h2>Our Worship Service</h2>
                <p>
                    Our morning worship service is the life-wire of our ministry. It is in this service that we celebrate who God is, what he has done, and continues to do in our lives. He is worthy of our praises because he is not only our Savior, but our Provider and King who reigns supreme in our lives and the entire universe.
                </p>
                <p>
                    The morning service is designed to present the truths about God and his saving acts in a way that is dynamic, powerful, and accessible to the city dwellers. People exploring Christianity enjoy the power, beauty, and relevance of the cross in their lives as they join in worship with us. Our worship team is there to minister to us in a mighty way as they feature contemporary worship music throughout the service.
                </p>
        </section>

    </main>
{% endblock %}
